<mat-stepper linear="true" (selectionChange)="onStepperChange($event)">

  <mat-step>
    <ng-template matStepLabel>Додавання даних</ng-template>

    <div class="stepper-content">
      <div>
        <button type="button" mat-raised-button (click)="fileInput.click()">Виберіть файл</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file">
      </div>

      <mat-form-field id="csv_textarea">
        <textarea matInput rows="15" placeholder="...або скопіюйте контент сюди" [formControl]="csvField"></textarea>
      </mat-form-field>

      <div>
        <label>Розділювач:</label>
        <mat-radio-group [formControl]="delimiterField">
          <mat-radio-button value="TAB">Табуляція</mat-radio-button>
          <mat-radio-button value="COMMA">Кома</mat-radio-button>
          <mat-radio-button value="SEMICOLON">Крапка з комою</mat-radio-button>
        </mat-radio-group>
        <button type="button" mat-raised-button (click)="parse()" class="button-ml">Перезавантажити</button>
      </div>

      <div class="buttons-container">
        <button mat-raised-button matStepperNext color="primary">Далі</button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Дублікати</ng-template>

    <div class="stepper-content" *ngIf="duplicates.length > 0; else noDuplicatesBlock">
      <p>Предмети з наведеними нижче номерами вже присутні в базі</p>
      <mat-checkbox [formControl]="overwriteField" (change)="onOverwriteChanged()">Перезаписати предмети</mat-checkbox>
      <mat-list>
        <mat-list-item *ngFor="let item of duplicates">{{ item.pointNumber }}. {{ item.name }}</mat-list-item>
      </mat-list>
    </div>

    <ng-template #noDuplicatesBlock>
      <div class="stepper-content">
        <p>Предметів з номерами, що дублюються не знайдено</p>
      </div>
    </ng-template>

    <div class="buttons-container">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <button mat-raised-button matStepperNext color="primary">Далі</button>
    </div>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Категорії</ng-template>

    <div class="stepper-content">
      <div class="spinner-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <table *ngIf="!loading" mat-table [dataSource]="parsedItemControls">
      <ng-container matColumnDef="pointNumber">
        <th mat-header-cell *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let item">{{ item.data.pointNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Назва</th>
        <td mat-cell *matCellDef="let item">{{ item.data.name }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Категорія</th>
        <td mat-cell *matCellDef="let item">
          <mat-form-field>
            <mat-select [formControl]="item.category" (selectionChange)="onCategoryChanged(item)" class="category-select">
              <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
            </mat-select>
            <mat-hint *ngIf="item.data.categoryAutodetected">Автовизначено</mat-hint>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['pointNumber', 'name', 'category']; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['pointNumber', 'name', 'category'];"></tr>
    </table>

    <div class="buttons-container">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <button mat-raised-button matStepperNext color="primary">Далі</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Гектари</ng-template>

    <div class="stepper-content">
      <div class="spinner-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <table *ngIf="!loading" mat-table [dataSource]="parsedItemControls">
      <ng-container matColumnDef="pointNumber">
        <th mat-header-cell *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let item">{{ item.data.pointNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Назва</th>
        <td mat-cell *matCellDef="let item">{{ item.data.name }}</td>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef>Примітка</th>
        <td mat-cell *matCellDef="let item">{{ item.data.remarks }}</td>
      </ng-container>
      <ng-container matColumnDef="hectare">
        <th mat-header-cell *matHeaderCellDef>Гектар</th>
        <td mat-cell *matCellDef="let item">
          <mat-form-field>
            <input matInput type="number" [formControl]="item.hectare" (change)="onHectareChanged(item)">
            <mat-hint *ngIf="item.data.hectareAutodetected">Автовизначено</mat-hint>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['pointNumber', 'name', 'remarks', 'hectare']; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['pointNumber', 'name', 'remarks', 'hectare'];"></tr>
    </table>

    <div class="buttons-container">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <button mat-raised-button matStepperNext color="primary">Далі</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Кулі: калібр і деформація</ng-template>

    <div class="stepper-content">
      <div class="spinner-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <table *ngIf="!loading" mat-table [dataSource]="bulletControls">
      <ng-container matColumnDef="pointNumber">
        <th mat-header-cell *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let item">{{ item.data.pointNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Назва</th>
        <td mat-cell *matCellDef="let item">{{ item.data.name }}</td>
      </ng-container>
      <ng-container matColumnDef="dimensions">
        <th mat-header-cell *matHeaderCellDef>Розміри</th>
        <td mat-cell *matCellDef="let item">{{ item.data.dimensions }}</td>
      </ng-container>
      <ng-container matColumnDef="caliber">
        <th mat-header-cell *matHeaderCellDef>Калібр</th>
        <td mat-cell *matCellDef="let item">
          <mat-form-field>
            <input matInput [formControl]="item.caliber" (change)="onCaliberChanged(item)">
            <mat-hint *ngIf="item.data.caliberAutodetected">Автовизначено</mat-hint>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="deformation">
        <th mat-header-cell *matHeaderCellDef>Деформація</th>
        <td mat-cell *matCellDef="let item">
          <mat-form-field>
            <mat-select [formControl]="item.deformation" (selectionChange)="onDeformationChanged(item)">
              <mat-option value="NONE">Немає</mat-option>
              <mat-option value="LIGHT">Легко</mat-option>
              <mat-option value="HARD">Сильно</mat-option>
            </mat-select>
            <mat-hint *ngIf="item.data.deformationAutodetected">Автовизначено</mat-hint>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['pointNumber', 'name', 'dimensions', 'caliber', 'deformation']; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['pointNumber', 'name', 'dimensions', 'caliber', 'deformation'];"></tr>
    </table>

    <div class="buttons-container">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <button mat-raised-button matStepperNext color="primary">Далі</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Перевірка</ng-template>

    <div class="stepper-content">
      <div class="spinner-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>

      <p>Буде додано {{ parsedItemsFiltered.length }} {{ makePluralItems(parsedItemsFiltered.length) }}: </p>

      <div class="parsed-items-table">
        <table *ngIf="!loading" mat-table [dataSource]="parsedItemsFiltered">
          <ng-container matColumnDef="pointNumber">
            <th mat-header-cell *matHeaderCellDef>Номер</th>
            <td mat-cell *matCellDef="let item">{{ item.pointNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Назва</th>
            <td mat-cell *matCellDef="let item">{{ item.name }}</td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Категорія</th>
            <td mat-cell *matCellDef="let item">{{ item.category }}</td>
          </ng-container>
          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Широта</th>
            <td mat-cell *matCellDef="let item">{{ item.location.latitude }}</td>
          </ng-container>
          <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>Довгота</th>
            <td mat-cell *matCellDef="let item">{{ item.location.longitude }}</td>
          </ng-container>
          <ng-container matColumnDef="hectare">
            <th mat-header-cell *matHeaderCellDef>Гектар</th>
            <td mat-cell *matCellDef="let item">{{ item.hectare }}</td>
          </ng-container>
          <ng-container matColumnDef="dimensions">
            <th mat-header-cell *matHeaderCellDef>Розміри</th>
            <td mat-cell *matCellDef="let item">{{ item.dimensions }}</td>
          </ng-container>
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Вага</th>
            <td mat-cell *matCellDef="let item">{{ item.weight }}г</td>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>Примітки</th>
            <td mat-cell *matCellDef="let item">{{ item.remarks }}</td>
          </ng-container>
          <ng-container matColumnDef="gpsPoint">
            <th mat-header-cell *matHeaderCellDef>Точка GPS</th>
            <td mat-cell *matCellDef="let item">{{ item.gpsPoint }}</td>
          </ng-container>
          <ng-container matColumnDef="caliber">
            <th mat-header-cell *matHeaderCellDef>Калібр</th>
            <td mat-cell *matCellDef="let item">
              <ng-container *ngIf="item.category === bulletCategory">
                {{ item.caliberApproximate ? '~' : '' }}{{ item.caliber }}
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="deformation">
            <th mat-header-cell *matHeaderCellDef>Деформація</th>
            <td mat-cell *matCellDef="let item">
              <ng-container *ngIf="item.category === bulletCategory">
                {{ item.deformation }}
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="parsedItemColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: parsedItemColumns"></tr>

        </table>
      </div>
      <div class="buttons-container">
        <button mat-raised-button matStepperPrevious>Назад</button>
        <button mat-raised-button color="primary" (click)="save()">Готово</button>
      </div>
    </div>
  </mat-step>

</mat-stepper>
