<div class="actions-bar">
  <a href="items/import" mat-raised-button>Імпортувати</a>
  <button mat-raised-button>Експортувати</button>
</div>

<div>Всього знахідок: <b>{{ totalItems }}</b></div>
<div><mat-paginator  [length]="totalItems"
               [pageSize]="pageSize"
               [pageSizeOptions]="[ 2, 25, 100]"
               aria-label="Select page" (page)="handlePage($event)">
</mat-paginator></div>


<p></p>
<table mat-table [dataSource]="items" multiTemplateDataRows>
  <ng-container matColumnDef="pointNumber">
    <th mat-header-cell *matHeaderCellDef>Номер</th>
    <td mat-cell *matCellDef="let item">{{ item.pointNumber }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Назва</th>
    <td mat-cell *matCellDef="let item">{{ item.name }}</td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Категорія</th>
    <td mat-cell *matCellDef="let item">{{ item.category }}</td>
  </ng-container>
  <ng-container matColumnDef="dimensions">
    <th mat-header-cell *matHeaderCellDef>Розміри</th>
    <td mat-cell *matCellDef="let item">{{ item.dimensions }}</td>
  </ng-container>
  <ng-container matColumnDef="latitude">
    <th mat-header-cell *matHeaderCellDef>Широта</th>
    <td mat-cell *matCellDef="let item">{{ item.location.latitude }}</td>
  </ng-container>
  <ng-container matColumnDef="longitude">
    <th mat-header-cell *matHeaderCellDef>Довгота</th>
    <td mat-cell *matCellDef="let item">{{ item.location.longitude }}</td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let item" [attr.colspan]="columnsToDisplay.length">
      <div class="item-details" [@tableExpand]="item.isExpanded ? 'expanded' : 'collapsed'">
        <div class="item-details-column">
          <p>Рік: {{ item.year }}</p>
          <p>Гектар: {{ item.hectare }}</p>
          <p>Глибина (см): {{ item.depth }}</p>
          <p>Вага, г: {{ item.weight }}</p>
          <p>Контекст: {{ item.context }}</p>
        </div>
        <div class="item-details-column">
          <p>Матеріал: {{ item.material }}</p>
          <p>Техніка: {{ item.technique }}</p>
          <p>Стан: {{ item.condition }}</p>
        </div>
      </div>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="row.isExpanded = !row.isExpanded"
      class="item-row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-detail-row"></tr>
</table>
